
#us{
background-color: #c6cecd;
margin: 0;
padding: -2;
height: 250px;
text-align: center;

}
#search{
  background-color: #d2dcdd;
  padding: -2;
  margin: 0;
  height:250px;
text-align: center;
}
#button{
background-color: #007bff;
}
